<ion-header>
  <ion-navbar>
    <ion-title>
      Timer
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="container">
    <ion-list>
      <ion-item>
        <ion-label fixed>Segundos</ion-label>
        <ion-input type="tel" [(ngModel)]="seconds" (ngModelChange)="changeSeconds($event)" max="99"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label fixed>Centésimos</ion-label>
        <ion-input type="tel" [(ngModel)]="hundredths" (ngModelChange)="changeHundredths($event)" max="99"></ion-input>
      </ion-item>
    </ion-list>


    <div class="container-timer-count">
      <span class="timer-signal" [class.stop]="!running"></span>
      <span class="timer-count">
        {{ format() }}
      </span>
    </div>


    <div class="container-buttons" *ngIf="!keyboard.isOpen()">
      <button *ngIf="!running" color="secondary" ion-button full (click)="start()">Iniciar</button>
      <button *ngIf="running" color="danger" ion-button full (click)="stop(true)">Parar</button>
      <button *ngIf="!running" ion-button full (click)="reset()">Resetar</button>
    </div>
  </div>
</ion-content>
